@model Rbc.Models.Util.PaginatedList<Caso>

@using Rbc.Models.Util;

@{
    ViewData["Title"] = "Casos";
}

@if (TempData["erro"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><i class="fa fa-exclamation-triangle"></i> Erro: </strong> @Html.Raw(TempData["erro"])
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="card">
    <div class="card-header">
        <h3>Casos de risco de câncer de colo de útero</h3>
        <div class="row">
            <div class="col-sm-12">
                <button id="adicionarCaso" class="btn btn-success" data-target="#modalAdicionarCaso" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar caso</button>
                <button id="escolherCaso" class="btn btn-outline-secondary" data-target="#modalSelecionarCaso" data-toggle="modal"> <i class="fa fa-folder"></i> Escolher caso</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form asp-action="Index" asp-controller="Rbc">
                    <div class="input-group mt-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">Caso selecionado</span>
                        </div>
                        <input id="casoSelecionado" type="text" class="form-control" aria-describedby="basic-addon3" value="@ViewData["casoid"]" disabled>
                        <div class="input-group-append">
                            <button id="calcular" class="btn btn-primary" type="submit" title="Calcular similaridade"><i class="fa fa-calculator"></i></button>
                        </div>
                        <div class="input-group-append">
                            <a asp-action="Index" class="btn btn-danger" title="Cancelar seleção e listar todos os casos novamente"><i class="fa fa-times"></i></a>
                        </div>
                        <input id="casoIdHidden" type="hidden" name="casoid" value="@ViewData["casoid"]" />
                        <input type="hidden" name="calcular" value="true" />
                    </div>
                </form>
            </div>
        </div>


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Simi. %</th>
                        <th>Idade</th>
                        <th>Nº Parc. Sexuais</th>
                        <th>Primeira Rel.</th>
                        <th>Nº Gestações</th>
                        <th>Fuma</th>
                        <th>Fuma (anos)</th>
                        <th>Packs/Year</th>
                        <th>Contraceptivo Hormonal</th>
                        <th>Contraceptivo H. (anos)</th>
                        <th>DIU</th>
                        <th>DIU (anos)</th>
                        <th>DST</th>
                        <th>Nº DST</th>
                        <th>Condiloma</th>
                        <th>Condiloma Uterino</th>
                        <th>Condiloma Vaginal</th>
                        <th>Condiloma Vulvo-perineal</th>
                        <th>Sífilis</th>
                        <th>Inflamação Pélvica</th>
                        <th>Herpes Genital</th>
                        <th>Molusco Contagioso</th>
                        <th>AIDS</th>
                        <th>HIV</th>
                        <th>Hepatite B</th>
                        <th>HPV</th>
                        <th>DST Nº Diag.</th>
                        <th>DST Anos Primeiro Diag.</th>
                        <th>DST Anos Último Diag.</th>
                        <th>Diag. Câncer</th>
                        <th>Diag. CIN</th>
                        <th>Diag. HPV</th>
                        <th>Diag.</th>
                        <th>Colposcopia</th>
                        <th>Schiller</th>
                        <th>Citologia</th>
                        <th>Biópsia</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.Count > 0)
                    {

                        foreach (var caso in Model)
                        {
                            string similaridadeVal = "";
                            if (caso.Similaridade != null)
                            {
                                double d = (double)caso.Similaridade;
                                similaridadeVal = d.ToString("N2");
                            }
                            <tr>
                                <td>@similaridadeVal</td>
                                <td>@caso.Idade</td>
                                <td>@caso.NumRelacoes.ToAnswer()</td>
                                <td>@caso.PrimeiraRelacao.ToAnswer()</td>
                                <td>@caso.NumGestacoes.ToAnswer()</td>
                                <td>@caso.Fuma.ToAnswer()</td>
                                <td>@caso.NumAnosFumo.ToAnswer()</td>
                                <td>@caso.NumMacosPorAno.ToAnswer()</td>
                                <td>@caso.ContraceptivoHormonal.ToAnswer()</td>
                                <td>@caso.NumAnosContraceptivo.ToAnswer()</td>
                                <td>@caso.Diu.ToAnswer()</td>
                                <td>@caso.NumAnosDiu.ToAnswer()</td>
                                <td>@caso.Dst.ToAnswer()</td>
                                <td>@caso.NumDst.ToAnswer()</td>
                                <td>@caso.Condiloma.ToAnswer()</td>
                                <td>@caso.CondilomaUterino.ToAnswer()</td>
                                <td>@caso.CondilomaVaginal.ToAnswer()</td>
                                <td>@caso.CondilomaVulvoPerineal.ToAnswer()</td>
                                <td>@caso.Sifilis.ToAnswer()</td>
                                <td>@caso.InflamacaoPelvica.ToAnswer()</td>
                                <td>@caso.HerpesGenital.ToAnswer()</td>
                                <td>@caso.MoluscoContagioso.ToAnswer()</td>
                                <td>@caso.Aids.ToAnswer()</td>
                                <td>@caso.Hiv.ToAnswer()</td>
                                <td>@caso.HepatiteB.ToAnswer()</td>
                                <td>@caso.Hpv.ToAnswer()</td>
                                <td>@caso.DstNumDiag.ToAnswer()</td>
                                <td>@caso.DstAnosPrimeiroDiag.ToAnswer()</td>
                                <td>@caso.DstAnosUltimoDiag.ToAnswer()</td>
                                <td>@caso.CancerDiag.ToAnswer()</td>
                                <td>@caso.CinDiag.ToAnswer()</td>
                                <td>@caso.HpvDiag.ToAnswer()</td>
                                <td>@caso.Diagnosticado.ToAnswer()</td>
                                <td>@caso.Hinselmann.ToResult()</td>
                                <td>@caso.Schiller.ToResult()</td>
                                <td>@caso.Citologia.ToResult()</td>
                                <td>@caso.Biopsia.ToResult()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            @* PAGINACAO *@
            @{
                string btnNextDisabled = "";
                string btnPreviousDisabled = "";

                if (Model.PageIndex == 1)
                {
                    btnPreviousDisabled = "disabled";
                }

                if (Model.PageIndex == Model.TotalPages)
                {
                    btnNextDisabled = "disabled";
                }
            }
            <div class="col-sm-12 d-flex justify-content-center mb-1">
                <span>Página <span class="badge badge-pill badge-primary">@Model.PageIndex</span> de <span class="badge badge-pill badge-secondary">@Model.TotalPages</span></span>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <a class="btn btn-sm btn-outline-dark mr-2 @btnPreviousDisabled" asp-route-page="@Html.Raw(Model.PageIndex - 1)"><i class="fa fa-arrow-left"></i>  Anterior</a>
                <a class="btn btn-sm btn-outline-dark @btnNextDisabled" asp-action="Index" asp-route-page="@Html.Raw(Model.PageIndex + 1)">Próxima <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

@* MODAL adicionarCaso *@
<div class="modal fade" id="modalAdicionarCaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar caso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].Idade"></label>
                                <input id="idade" class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumRelacoes"></label>
                                <input id="numParceiros" class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].PrimeiraRelacao"></label>
                                <input id="primeiraRelacao" class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumGestacoes"></label>
                                <input id="numGestacoes" class="form-control" type="number" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="fuma" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Fuma))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumAnosFumo"></label>
                                <input id="fumaAnos" class="form-control" type="number" disabled />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumMacosPorAno"></label>
                                <input id="macosAno" class="form-control" type="number" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="contraceptivo" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].ContraceptivoHormonal))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumAnosContraceptivo"></label>
                                <input id="numAnosContraceptivo" class="form-control" type="number" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="diu" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Diu))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumAnosDiu"></label>
                                <input id="numAnosDiu" class="form-control" type="number" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="dst" class="form-check-input" type="checkbox" value="true">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Dst))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumDst"></label>
                                <input id="numDst" class="form-control" type="number" disabled />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="condiloma" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Condiloma))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="condilomaUterino" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].CondilomaUterino))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="condilomaVaginal" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].CondilomaVaginal))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="condilomaVulvoPerineal" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].CondilomaVulvoPerineal))
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="sifilis" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Sifilis))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="inflamacaoPelvica" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].InflamacaoPelvica))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="herpesGenital" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].HerpesGenital))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="moluscoContagioso" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].MoluscoContagioso))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="aids" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Aids))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="hiv" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Hiv))
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="hepatiteB" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].HepatiteB))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="hpv" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Hpv))
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label asp-for="@Model[0].DstNumDiag"></label>
                                <input id="numDst" class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="@Model[0].DstAnosPrimeiroDiag"></label>
                                <input id="dstPrimeiro" class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label asp-for="@Model[0].DstAnosUltimoDiag"></label>
                                <input id="dstUltimo" class="form-control" type="number" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="cancerDiag" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].CancerDiag))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="cinDiag" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].CinDiag))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="hpvDiag" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].HpvDiag))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="diagnosticado" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Diagnosticado))
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="hinselmann" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Hinselmann))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="schiller" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Schiller))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="citologia" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Citologia))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="biopsia" class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Biopsia))
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="selecionarExistente" class="btn btn-outline-secondary"><i class="fa fa-folder"></i> Selecionar caso existente</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="salvarCaso" type="button" class="btn btn-success">Adicionar</button>
            </div>
        </div>
    </div>
</div>

@* MODAL selecionarCaso *@
<div class="modal fade" id="modalSelecionarCaso" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Selecionar caso <button id="novo" class="btn btn-success"><i class="fa fa-plus"></i> Novo</button></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <h4 id="loadingEscolherCaso" class="text-primary"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></h4>
                </div>
                <div id="casosAdicionados">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/Casos.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/Casos.min.js"></script>
    </environment>
}