@model Rbc.Models.Util.PaginatedList<Caso>

@using Rbc.Models.Util;

@{
    ViewData["Title"] = "Casos";
}

<div class="card">
    <div class="card-header">
        <h3>Casos de risco de câncer de colo de útero</h3>
        <div class="row">
            <div class="col-sm-12">
                <button id="adicionarCaso" class="btn btn-success" data-target="#modalAdicionarCaso" data-toggle="modal"><i class="fa fa-plus"></i> Adicionar caso</button>
                <button id="escolherCaso" class="btn btn-outline-secondary" data-target="#modalSelecionarCaso" data-toggle="modal"> <i class="fa fa-folder"></i> Escolher caso</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="input-group mt-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Caso selecionado</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="basic-addon3" disabled>
                    <div class="input-group-append">
                        <button id="calcular" class="btn btn-primary" type="button" title="Calcular similaridade"><i class="fa fa-calculator"></i></button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Simi. %</th>
                        <th>Nº Parc. Sexuais</th>
                        <th>Primeira Rel.</th>
                        <th>Nº Gestações</th>
                        <th>Fuma</th>
                        <th>Fuma (anos)</th>
                        <th>Packs/Year</th>
                        <th>Contraceptivo Hormonal</th>
                        <th>Contraceptivo H. (anos)</th>
                        <th>DIU</th>
                        <th>DIU (anos)</th>
                        <th>DST</th>
                        <th>Nº DST</th>
                        <th>Condiloma</th>
                        <th>Condiloma Uterino</th>
                        <th>Condiloma Vaginal</th>
                        <th>Condiloma Vulvo-perineal</th>
                        <th>Sífilis</th>
                        <th>Inflamação Pélvica</th>
                        <th>Herpes Genital</th>
                        <th>Molusco Contagioso</th>
                        <th>AIDS</th>
                        <th>HIV</th>
                        <th>Hepatite B</th>
                        <th>HPV</th>
                        <th>DST Nº Diag.</th>
                        <th>DST Anos Primeiro Diag.</th>
                        <th>DST Anos Último Diag.</th>
                        <th>Diag. Câncer</th>
                        <th>Diag. CIN</th>
                        <th>Diag. HPV</th>
                        <th>Diag.</th>
                        <th>Hinselmann</th>
                        <th>Schiller</th>
                        <th>Citologia</th>
                        <th>Biópsia</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model?.Count > 0)
                    {
                        foreach (var caso in Model)
                        {
                            <tr>
                                <td>@caso.Similaridade</td>
                                <td>@caso.NumRelacoes.ToAnswer()</td>
                                <td>@caso.PrimeiraRelacao.ToAnswer()</td>
                                <td>@caso.NumGestacoes.ToAnswer()</td>
                                <td>@caso.Fuma.ToAnswer()</td>
                                <td>@caso.NumAnosFumo.ToAnswer()</td>
                                <td>@caso.NumMacosPorAno.ToAnswer()</td>
                                <td>@caso.ContraceptivoHormonal.ToAnswer()</td>
                                <td>@caso.NumAnosContraceptivo.ToAnswer()</td>
                                <td>@caso.Diu.ToAnswer()</td>
                                <td>@caso.NumAnosDiu.ToAnswer()</td>
                                <td>@caso.Dst.ToAnswer()</td>
                                <td>@caso.NumDst.ToAnswer()</td>
                                <td>@caso.Condiloma.ToAnswer()</td>
                                <td>@caso.CondilomaUterino.ToAnswer()</td>
                                <td>@caso.CondilomaVaginal.ToAnswer()</td>
                                <td>@caso.CondilomaVulvoPerineal.ToAnswer()</td>
                                <td>@caso.Sifilis.ToAnswer()</td>
                                <td>@caso.InflamacaoPelvica.ToAnswer()</td>
                                <td>@caso.HerpesGenital.ToAnswer()</td>
                                <td>@caso.MoluscoContagioso.ToAnswer()</td>
                                <td>@caso.Aids.ToAnswer()</td>
                                <td>@caso.Hiv.ToAnswer()</td>
                                <td>@caso.HepatiteB.ToAnswer()</td>
                                <td>@caso.Hpv.ToAnswer()</td>
                                <td>@caso.DstNumDiag.ToAnswer()</td>
                                <td>@caso.DstAnosPrimeiroDiag.ToAnswer()</td>
                                <td>@caso.DstAnosUltimoDiag.ToAnswer()</td>
                                <td>@caso.CancerDiag.ToAnswer()</td>
                                <td>@caso.CinDiag.ToAnswer()</td>
                                <td>@caso.HpvDiag.ToAnswer()</td>
                                <td>@caso.Diagnosticado.ToAnswer()</td>
                                <td>@caso.Hinselmann.ToResult()</td>
                                <td>@caso.Schiller.ToResult()</td>
                                <td>@caso.Citologia.ToResult()</td>
                                <td>@caso.Biopsia.ToResult()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            @* PAGINACAO *@
            @{
                string btnNextDisabled = "";
                string btnPreviousDisabled = "";

                if (Model.PageIndex == 1)
                {
                    btnPreviousDisabled = "disabled";
                }

                if (Model.PageIndex == Model.TotalPages)
                {
                    btnNextDisabled = "disabled";
                }
            }
            <div class="col-sm-12 d-flex justify-content-center mb-1">
                <span>Página <span class="badge badge-pill badge-primary">@Model.PageIndex</span> de <span class="badge badge-pill badge-secondary">@Model.TotalPages</span></span>
            </div>
            <div class="col-sm-12 d-flex justify-content-center">
                <a class="btn btn-sm btn-outline-dark mr-2 @btnPreviousDisabled" asp-route-page="@Html.Raw(Model.PageIndex - 1)"><i class="fa fa-arrow-left"></i>  Anterior</a>
                <a class="btn btn-sm btn-outline-dark @btnNextDisabled" asp-action="Index" asp-route-page="@Html.Raw(Model.PageIndex + 1)">Próxima <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

@* MODAL adicionarCaso *@
<div class="modal fade" id="modalAdicionarCaso" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Adicionar caso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].Idade"></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumRelacoes"></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].PrimeiraRelacao"></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumGestacoes"></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Fuma))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumAnosFumo"></label>
                                <input class="form-control" type="number" disabled />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumMacosPorAno"></label>
                                <input class="form-control" type="number" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].ContraceptivoHormonal))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumAnosContraceptivo"></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    @Html.Raw(Html.DisplayNameFor(model => model[0].Diu))
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="@Model[0].NumAnosDiu"></label>
                                <input class="form-control" type="number" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="selecionarExistente" class="btn btn-outline-secondary"><i class="fa fa-folder"></i> Selecionar caso existente</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Adicionar</button>
            </div>
        </div>
    </div>
</div>

@* MODAL selecionarCaso *@
<div class="modal fade" id="modalSelecionarCaso" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Selecionar caso <button id="novo" class="btn btn-success"><i class="fa fa-plus"></i> Novo</button></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <h4 id="loadingEscolherCaso" class="text-primary"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></h4>
                </div>
                <div id="casosAdicionados">

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#modalSelecionarCaso").on("shown.bs.modal", function () {
            mostrarLoadingCasos();
            $.ajax(
                {
                    url: "/Rbc/RetornarCasosAdicionados",
                    type: "GET",
                    contentType: "application/json",
                    success: function (data) {
                        esconderLoadingCasos();
                        renderizarCasos(data);
                     }
                });
        });


        $("#modalSelecionarCaso").on("hidden.bs.modal", function () { 
            $("#casosAdicionados").html("");
            //limpar array de controle na memoria
        });

        $("#novo").click(function () {
            $("#modalSelecionarCaso").modal("hide");
            $("#modalAdicionarCaso").modal("show");
        });

        $("#selecionarExistente").click(function () {
            $("#modalAdicionarCaso").modal("hide");
            $("#modalSelecionarCaso").modal("show");
        });

        function esconderLoadingCasos() {
            $("#loadingEscolherCaso").hide();
        }
        function mostrarLoadingCasos() {
            $("#loadingEscolherCaso").show();
        }

        function renderizarCasos(casos) {
            if (casos.length > 0) {

            } else {
                $("#casosAdicionados").html("<div class='alert alert-warning' role='alert'><i class='fa fa-warning'></i> Nenhum caso encontrado.</div >");
            }
        }
    </script>
}